
@import url(/Assets/fonts/DancingScript-Regular.ttf);

*{
    margin: 0px;
    padding: 0px;

}*

body{
    
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;

}

header{

    width: 100%;
    height: 80px;
    margin: 0;


}



.menu {
 
 list-style: none;
 text-align: right;
 margin: 100px;


}

.menu a{

margin-right: 15px;
text-decoration: none;
padding:10px;
color:black;


}

.menu li{
   
    display: inline;
    text-align: right;
    margin: 24px;


}

.logo{
    margin-top: -100px;
    float: left;
    

}

.banner{
  background-size: cover ;
  opacity: 0.6;
  background-image: url(/Assets/imag/compu.png.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  float: right;
  background-position: center center;
  margin: 0;
  


}

.letra{

   padding-top: 30px;
    padding-left:100px;
    font-size: 50px;
}

 
  






.imagen1{


margin-top: -300px;
margin-right: 200px;
float: right;
}



section .main-buttons{
   width: 830px;
   margin: 0 auto;


}

.main-buttons div {
    display: inline-block;
    margin-left: 300px;
    margin-top: 80px;

}

.main-buttons button {

    height: 36px;
    background-color: #f2f2f2f2;
    border: 0;
    font-size: 15px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0px 15px;
    margin-right : 20px; 
    text-align: center;
    

}


.main-buttons button:hover{

    border: 1px solid #c6c6c6;
    box-shadow: 0 3px 2px 0 black;
    color: black;

}



div.galerias{
 margin: 600px 20px;
 box-shadow: 0 4px 8px 0 #FFBFA9 0 6px 20px 0 black (0,0,0,0.19);
 float: left ;
 width: 350px;
}


div.galerias img{
width: 100%;
height: auto;



}


div.galerias:hover {
 border: 1px solid #FFBFA9 ;
 transform: rotate(-3deg);

 
}

div.pie{
text-align: center;
text-shadow: 2px 2px 5px #c6c6c6;
padding: 10px;
}

.assistente{
margin-bottom: 40px;

}

h2{

    margin-bottom: 50%;
}

p{
padding-top: 40%;
margin-left: 10%;

}

.experiencia h2{
    padding-top: 200px;
    padding-left:450px;
    font-size: 50px;

}

.caja{

    margin-bottom:500% ;
}